<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card w-50 text-center text-white", style="background-color: #000000">
      <div class="card-body">
        <h5 class="card-title">
            <div class="form-group" >
              <%= form.text_field :title, class:"form-control", placeholder:"Title" %>
          </div>
        </h5>
        <p class="card-text" id="card-text" >
            <div class="form-group" >
              <%= form.text_area :content, class:"form-control", placeholder:"Content" %>
            </div>
            <div class="form-group" >
              <%= form.check_box :anonymous, class:"anonymous" %><em class="anonymous-txt">anonymous</em>
            </div>
            <div>
              <%= form.check_box :graphic, class:"graphic" %><em class="graphic-txt">graphic (violent, gore ect...)</em>
            </div>
            <div>
              <%= form.submit "Save", class:"btn btn-outline-primary savebtn" %>
              <%= link_to 'Back', root_path, class:"btn btn-outline-primary savebtn" %>
            </div>  
        </p>
      </div>
    </div>


<% end %>
