<div id="posts">
    <div class="card w-50 text-center text-white", style="background-color: #000000">
      <div class="card-body">
        <% if @post.anonymous == true %>
          <em class="user-tag" style="color: #8D9797" >anonymous</em>
        <% end %>
        <h5 class="card-title"><%= @post.title %></h5>
        <p class="card-text"><%= @post.content %></p>
        <%= link_to "Back", posts_path, class:"btn btn-outline-primary my-2 my-sm-0" %>

        
        <br/>
        <br/>

        <!--
          <%= link_to "Edit", edit_post_path(@post), class:"btn btn-warning", style:"display: inline-block;" %>
          <%= button_to "Delete", @post, method: :delete, class:"btn btn-danger", style:"display: inline-block;" %>-->

          <a href="<%= edit_post_path(@post) %>"><button class="button_to btn btn-outline-warning my-2 my-sm-0"  >Edit</button></a>
          <form method="delete" action="<%= @post %>" class="button_to" >
              <div><input value="Delete" type="submit" class="btn btn-outline-danger my-2 my-sm-0"/></div>
          </form>
          <!--<a href="<%= @post %>", class="btn btn-danger">Delete</a>-->
      </div>
    </div>
</div>
